<div class="d-flex justify-content-center" style="margin-top: 10%">
  <div class="border border-success" style="width: 600px">
    <h2 class="d-flex justify-content-center" style="margin-top: 4%">Forgot your password?</h2>

    <br />

    <div class="row, d-flex justify-content-center" style="margin-bottom: 4%">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :email %><br />
              <div class="form-group row, col-xs-6">
                <input class="form-control" <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>

          <br />

          <div class="actions, d-flex justify-content-center">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
          </div>
        <% end %>

        <br />
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
