<div class="d-flex justify-content-center" style="margin-top: 10%">
  <div class="border border-success" style="width: 600px">
    <h2 class="d-flex justify-content-center" style="margin-top: 4%">Log in</h2>

    <br />

    <div class="row, d-flex justify-content-center" style="margin-bottom: 4%">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <div class="d-flex justify-content-center">
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <br />

          <div class="form-group">
            <%= f.label :password, class: "control-label" %><br />
            <div class="d-flex justify-content-center">
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "control-label" %>
            </div>
          <% end -%>

          <br />

          <div class="form-group, d-flex justify-content-center">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>